<h1>List of bookmarks</h1>
<ul>
  <% @bookmarks.each do |bookmark| %>
      <a href='<%=bookmark.url%>'>
          <li><%=bookmark.title%></li>
      </a>
      <form action='/bookmarks/<%=bookmark.id%>' method='post'>
        <input type='hidden' name='_method' value='DELETE'/>
        <input type='submit' value='Delete'/>
      </form>
      <form action='bookmarks/<%=bookmark.id%>/edit' method='get'>
        <input type='submit' value='Update'/>
      </form>
  <% end %>

</ul>

<form action='/add-bookmark' method='post'>
    URL: <input type='text' name='new_bookmark'/>
    Title: <input type='text' name='title'/>
    <input type='submit' value='Add as Bookmark'/>
</form>
